''
body, html {
  background-color: rgb(255, 255, 255);
  color: #040f16;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
.title {
  width: calc(100% - 20px);
  margin:10px;
}
.title h2 {
 color:white ; 
 padding: 10px;
 font-size: 2rem  ;
 text-align: center;
 background-color: #1f2229;
}

/* ========================== en tete nav barre + titre avec photo  */

header{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0;
}

/* ========================== nav barre */
.navbar-nav
{
  margin: 0;
  padding: 0;
  display: contents;
}
.nav-item
{
  padding-left: 3vh;
  padding-right: 3vh;
}
.nav-item a{
  display: block;
  background-color: #343A40;
  text-align: center;
}
.nav-item a:hover {
  background-color: #343A40;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
}
.nav-item li {
  width: 10%;
}
#nav-logo figure{
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vh;
  height: 4vh;
  margin: 0;
}

/* ========================== titre et presentation */
.container
{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

#pres-resto-text {
  font-size: 1em;
  line-height: 1.5em;
}

#presBurger {
  width: 100%;
  height: auto;
}

/* ========================== zone des plats et menu */

.espace-parralax{
  background-image: url(../img/parralaximg.jpg);
  height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  margin: 0 auto;
  width: 80%;
  padding: 100px 0px 100px 0px;
  background-color: #ffffff;
  text-align:left;
}
.contact1 {
  background-color: #1f2229;
  height: auto;
  margin:10px;
}
#contact-img{
  background-image: url(../img/contact-left.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
}
.form1 {
  background-color: #C72C41;
  height: auto;
  width: 100%;
}
form {
  width: 100%;
}
.contact-block-formulaire-type{
  padding: 0.5rem 0;
  width: 100%;
  margin-left: 1rem;
}
.contact-block-formulaire-type input,textarea{
  padding: 0.4rem;
  background-color: #ffffff;
  border: 0;
  width: 90%;
}
input {
  height: 26px;
}
textarea{
  height: 10rem;
}
label {
  margin-bottom: 0px;
}
#contact-submit{
  padding: 0.2rem;
  background-color: white;
  color: #1f2229;
  margin-left: 1rem;
  border: 0;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#contact-submit:hover{
  color: white;
  background-color: #1f2229;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}

/* ========================== Maps */

iframe {
  width: 100%;
  height: 100%;
}

/* ========================== pied de page les mention legales */

.footer-1 {
  background-color:#1f2229;
  height: 300px;
}
.footer-2 {
  height: 300px;
}
footer li {
  list-style-type: none;
  font-size: 20px;
}
footer li i{ 
  color:#C72C41;  
  padding-right: 15px;
  width: auto;
  height: auto;
}
.copyright {
  width: 100%;
  height: auto;
  background-color:#C72C41;
}

/* ========================== Responsive */

@media screen and (max-width:768px) {
  #contact-img {
    width: 100%;
    height: 15rem;
  }

@media screen and (max-width:425px) {
  .espace-parralax {
    height: 10rem;
  }
section#pin-dishes {
  width:80%;
  height:auto ;
  margin: 0 auto;
  padding: 100px 0px 0px 0px;
}
div.container-dishes {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
div.container-dishes div.dishes-bloc {
  width: calc(33.3% - 20px);
  margin:10px;
}
div.container-dishes div.dishes-bloc div.dishes-img {
  width:100%;
  height: auto; 
  position: relative;
}
div.container-dishes div.dishes-bloc div.dishes-img figure {
  width: 100%;
  height: 300px;
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
div.container-dishes div.dishes-bloc:nth-of-type(1) div.dishes-img figure {
  background-image: url(../img/indianaburger.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(2) div.dishes-img figure {
    background-image: url(../img/dongorske.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(3) div.dishes-img figure {
      background-image: url(../img/saladecobb.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(4) div.dishes-img figure {
        background-image: url(../img/salmonsalad.png);
  }
div.container-dishes div.dishes-bloc:nth-of-type(5) div.dishes-img figure {
          background-image: url(../img/milkshake.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(6) div.dishes-img figure {
            background-image: url(../img/cafegourmand.jpg);
  }
div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes {
  position: absolute;
  bottom: 0;
  top: 0;
  width:100%;
  height: 300px;
  transition: 0.5s all;
  filter: opacity(0);
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  background-color: #1f2229;
}
div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes p:hover {
  filter: opacity(1);
}
div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes:hover {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 300px;
  transition: 0.5s all;
  filter: opacity(0.8);
}

